DATABASE_URL=jdbc:postgresql://db.wjzmpbufnclbfhurxbuv.supabase.co:5432/postgres?user=postgres&password=[#Vinichapa0506]
DATABASE_USERNAME=postgres.wjzmpbufnclbfhurxbuv
DATABASE_PASSWORD=#Vinichapa0506
JWT_SECRET=troque-por-uma-chave-com-mais-de-32-caracteres
CORS_ALLOWED_ORIGINS=https://lordcarvel.github.io/list_shop_tbt/v2/
ADMIN_USERNAME=admin
ADMIN_PASSWORD=#Vini0506
JWT_EXPIRATION_MINUTES=10080
